<div class="item button-hand">
  <button type="button" class="home-button">
    {{@title}}
    {{#if @people}}
    <div class="people" />
    <div class="people-double" />
    {{/if}}

    {{#if @starships}}
    <div class="starships" />
    <div class="starships-double" />
    {{/if}}
  </button>
</div>